* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--primary-bg);
  color: white;
}

html {
  overflow-x: hidden;
}

:root {
  --primary-bg: #09090b;
  --secondary-bg: #141319;
  --tertiary-bg: #17171c;
}

.sptxt {
  background-image: conic-gradient(at top, #818cf8, #6366f1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.icon{
  padding: 15px;
  font-size: 20px;
  border: 1px solid #1f2937;
  border-radius: 5px;
  background-color: var(--secondary-bg);
  cursor: pointer;
}
